.App {
  display: flex;
  flex-direction: row;
}
.profile {
  margin-left: 50px;
  width: 20%;
}
.experience {
  width: 60%;
}
.technologies {
  width: 20%;
}
.MuiCardContent-root:last-child {
  padding-bottom: 8px;
}
